{% extends 'entry_layout.html' %}

{% block content %}
<h1> Sign Up </h1><div id="form-wrapper">
    <form class="site-form" action="/login/signup/" method="post">
        {% csrf_token %}
        <div id="form_left">
        <label for="id_username">Username:</label><br>
        <label for="id_password1">Password:</label><br>
        <label for="id_password2">Confirmation:</label><br>
        </div>
            
        <div id="form_right">
        <input name="username" maxlength="150" autofocus="" required="" id="id_username" type="text"><br><br>
       <input name="password1" required="" id="id_password1" type="password"><br><br>
        <input name="password2" required="" id="id_password2" type="password"><br><br>
        </div>
        <div id="form_submit">
        <input value="Sign Up" type="submit"><br>
        </div>
        <!--<span class="helptext">Enter the same password as before, for verification.<br>
        Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.\<br>
        <ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul></span>-->
        
        <!-- {{form}}
        <input type="submit" value="Sign Up"> -->
    </form>
</div>
{% endblock %}